.Home__________About_Us___________page_________s ul li {
    display: inline;
    font-family: "OpenSans";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.786;
    margin: 25px;
}

.bl {
    color: rgb( 26, 188, 156)
}

.mart {
    font-size: 30px;
    font-family: "Roboto";
    color: rgb(51, 52, 52);
    text-transform: uppercase;
    line-height: 1.067;
    position: absolute;
    left: 100px;
    top: 25px;
    width: 78px;
    height: 21px;
    z-index: 115;
}

.mart::first-letter {
    color: rgb( 26, 188, 156);
}

.FEATURED_PRODUCTS {
    font-size: 48px;
    font-family: "Roboto";
    color: rgb( 81, 81, 81);
    text-transform: uppercase;
    line-height: 0.667;
    text-align: center;
    position: absolute;
    left: 450px;
    top: 210px;
    z-index: 110;
}

.aaa {
    background-color: rgb( 26, 188, 156);
    position: absolute;
    left: 630px;
    top: 260px;
    width: 164px;
    height: 7px;
    z-index: 109;
}

._26 {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb( 255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    text-align: center;
    position: absolute;
    left: 412px;
    top: 621px;
    width: 30px;
    height: 17px;
    z-index: 49;
}

.Rectangle_52 {
    background-color: rgb( 255, 255, 255);
    opacity: 0.439;
    position: absolute;
    left: 401px;
    top: 611px;
    width: 54px;
    height: 40px;
    z-index: 48;
}

.Rectangle_51 {
    background-color: rgb( 50, 50, 50);
    position: absolute;
    left: 200px;
    top: 611px;
    width: 255px;
    height: 40px;
    z-index: 46;
}

.Blue_Tshirt {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb( 255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    text-align: left;
    position: absolute;
    left: 210px;
    top: 620px;
    z-index: 47;
}

#prod1 {
    position: absolute;
    left: 200px;
    top: 329px;
    background: rgb(233, 240, 252);
}

._31 {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb( 255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    text-align: center;
    position: absolute;
    left: 712px;
    top: 621px;
    width: 30px;
    height: 17px;
    z-index: 49;
}

.Rectangle_54 {
    background-color: rgb( 255, 255, 255);
    opacity: 0.439;
    position: absolute;
    left: 701px;
    top: 611px;
    width: 54px;
    height: 40px;
    z-index: 48;
}

.Rectangle_53 {
    background-color: rgb( 50, 50, 50);
    position: absolute;
    left: 500px;
    top: 611px;
    width: 255px;
    height: 40px;
    z-index: 46;
}

.WOMAN_shirt {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb( 255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    text-align: left;
    position: absolute;
    left: 510px;
    top: 620px;
    z-index: 47;
}

#prod2 {
    position: absolute;
    left: 500px;
    top: 329px;
}

._21 {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb( 255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    text-align: center;
    position: absolute;
    left: 1012px;
    top: 621px;
    width: 30px;
    height: 17px;
    z-index: 49;
}

.Rectangle_56 {
    background-color: rgb( 255, 255, 255);
    opacity: 0.439;
    position: absolute;
    left: 1001px;
    top: 611px;
    width: 54px;
    height: 40px;
    z-index: 48;
}

.Rectangle_55 {
    background-color: rgb( 50, 50, 50);
    position: absolute;
    left: 800px;
    top: 611px;
    width: 255px;
    height: 40px;
    z-index: 46;
}

.YELLOW_Tshirt {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb( 255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    text-align: left;
    position: absolute;
    left: 810px;
    top: 620px;
    z-index: 47;
}

#prod3 {
    position: absolute;
    left: 800px;
    top: 310px;
}

._56 {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb( 255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    text-align: center;
    position: absolute;
    left: 1312px;
    top: 621px;
    width: 30px;
    height: 17px;
    z-index: 49;
}

.Rectangle_58 {
    background-color: rgb( 255, 255, 255);
    opacity: 0.439;
    position: absolute;
    left: 1301px;
    top: 611px;
    width: 54px;
    height: 40px;
    z-index: 48;
}

.Rectangle_57 {
    background-color: rgb( 50, 50, 50);
    position: absolute;
    left: 1100px;
    top: 611px;
    width: 255px;
    height: 40px;
    z-index: 46;
}

.Cool_lingerie {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb( 255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    text-align: left;
    position: absolute;
    left: 1110px;
    top: 620px;
    z-index: 47;
}

#prod4 {
    position: absolute;
    left: 1100px;
    top: 310px;
}

._261 {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb( 255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    text-align: center;
    position: absolute;
    left: 412px;
    top: 1021px;
    width: 30px;
    height: 17px;
    z-index: 49;
}

.Rectangle_521 {
    background-color: rgb( 255, 255, 255);
    opacity: 0.439;
    position: absolute;
    left: 401px;
    top: 1011px;
    width: 54px;
    height: 40px;
    z-index: 48;
}

.Rectangle_511 {
    background-color: rgb( 50, 50, 50);
    position: absolute;
    left: 200px;
    top: 1011px;
    width: 255px;
    height: 40px;
    z-index: 46;
}

.Blue_Tshirt1 {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb( 255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    text-align: left;
    position: absolute;
    left: 210px;
    top: 1020px;
    z-index: 47;
}

#prod11 {
    position: absolute;
    left: 200px;
    top: 729px;
}

._311 {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb( 255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    text-align: center;
    position: absolute;
    left: 712px;
    top: 1021px;
    width: 30px;
    height: 17px;
    z-index: 49;
}

.Rectangle_541 {
    background-color: rgb( 255, 255, 255);
    opacity: 0.439;
    position: absolute;
    left: 701px;
    top: 1011px;
    width: 54px;
    height: 40px;
    z-index: 48;
}

.Rectangle_531 {
    background-color: rgb( 50, 50, 50);
    position: absolute;
    left: 500px;
    top: 1011px;
    width: 255px;
    height: 40px;
    z-index: 46;
}

.WOMAN_shirt1 {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb( 255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    text-align: left;
    position: absolute;
    left: 510px;
    top: 1020px;
    z-index: 47;
}

#prod21 {
    position: absolute;
    left: 500px;
    top: 729px;
}

._211 {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb( 255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    text-align: center;
    position: absolute;
    left: 1012px;
    top: 1021px;
    width: 30px;
    height: 17px;
    z-index: 49;
}

.Rectangle_561 {
    background-color: rgb( 255, 255, 255);
    opacity: 0.439;
    position: absolute;
    left: 1001px;
    top: 1011px;
    width: 54px;
    height: 40px;
    z-index: 48;
}

.Rectangle_551 {
    background-color: rgb( 50, 50, 50);
    position: absolute;
    left: 800px;
    top: 1011px;
    width: 255px;
    height: 40px;
    z-index: 46;
}

.YELLOW_Tshirt1 {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb( 255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    text-align: left;
    position: absolute;
    left: 810px;
    top: 1020px;
    z-index: 47;
}

#prod31 {
    position: absolute;
    left: 800px;
    top: 710px;
}

._561 {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb( 255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    text-align: center;
    position: absolute;
    left: 1312px;
    top: 1021px;
    width: 30px;
    height: 17px;
    z-index: 49;
}

.Rectangle_581 {
    background-color: rgb( 255, 255, 255);
    opacity: 0.439;
    position: absolute;
    left: 1301px;
    top: 1011px;
    width: 54px;
    height: 40px;
    z-index: 48;
}

.Rectangle_571 {
    background-color: rgb( 50, 50, 50);
    position: absolute;
    left: 1100px;
    top: 1011px;
    width: 255px;
    height: 40px;
    z-index: 46;
}

.Cool_lingerie1 {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb( 255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    text-align: left;
    position: absolute;
    left: 1110px;
    top: 1020px;
    z-index: 47;
}

#prod41 {
    position: absolute;
    left: 1100px;
    top: 710px;
}

.LATEST_NEWS {
    font-size: 48px;
    font-family: "Roboto";
    color: rgb( 85, 82, 82);
    text-transform: uppercase;
    line-height: 0.667;
    text-align: center;
    position: absolute;
    left: 661px;
    top: 1200px;
    z-index: 38;
}

.Rectangle_8_copy_3 {
    background-color: rgb( 78, 198, 171);
    position: absolute;
    left: 729px;
    top: 1250px;
    width: 164px;
    height: 7px;
    z-index: 37;
}

.img1 {
    position: absolute;
    top: 1350px;
    left: 200px;
}

.news {
    font-size: 14px;
    font-family: "Times New Roman";
    color: rgb( 85, 82, 82);
    line-height: 1.857;
    position: absolute;
    left: 200px;
    top: 1620px;
    width: 300px;
    height: 62px;
    z-index: 32;
}

.Rectangle_35 {
    background-color: rgb( 78, 198, 171);
    position: absolute;
    left: 200px;
    top: 1610px;
    width: 136px;
    height: 3px;
    z-index: 30;
}

.news1 {
    font-size: 18px;
    font-family: "OpenSans";
    color: rgb( 85, 82, 82);
    line-height: 1.444;
    position: absolute;
    left: 200px;
    top: 1557px;
    width: 301px;
    height: 44px;
    z-index: 31;
}

.img2 {
    position: absolute;
    top: 1350px;
    left: 550px;
}

.news2 {
    font-size: 14px;
    font-family: "Times New Roman";
    color: rgb( 85, 82, 82);
    line-height: 1.857;
    position: absolute;
    left: 550px;
    top: 1620px;
    width: 300px;
    height: 62px;
    z-index: 32;
}

.Rectangle_351 {
    background-color: rgb( 78, 198, 171);
    position: absolute;
    left: 550px;
    top: 1610px;
    width: 136px;
    height: 3px;
    z-index: 30;
}

.news3 {
    font-size: 18px;
    font-family: "OpenSans";
    color: rgb( 85, 82, 82);
    line-height: 1.444;
    position: absolute;
    left: 550px;
    top: 1557px;
    width: 301px;
    height: 44px;
    z-index: 31;
}

.img2 {
    position: absolute;
    top: 1350px;
    left: 550px;
}

.img3 {
    position: absolute;
    top: 1350px;
    left: 900px;
}

.news4 {
    font-size: 14px;
    font-family: "Times New Roman";
    color: rgb( 85, 82, 82);
    line-height: 1.857;
    position: absolute;
    left: 900px;
    top: 1620px;
    width: 300px;
    height: 62px;
    z-index: 32;
}

.Rectangle_352 {
    background-color: rgb( 78, 198, 171);
    position: absolute;
    left: 900px;
    top: 1610px;
    width: 136px;
    height: 3px;
    z-index: 30;
}

.news5 {
    font-size: 18px;
    font-family: "OpenSans";
    color: rgb( 85, 82, 82);
    line-height: 1.444;
    position: absolute;
    left: 900px;
    top: 1557px;
    width: 301px;
    height: 44px;
    z-index: 31;
}